<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">CCTV and Electric Fencing.</h2>
                <p class="card-text">Our movements and feelings are constantly monitored, because surveillance is the business model of the digital age.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="">More details</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Graphic, Design and Wallpapers.</h2>
                <p class="card-text">Every industry and every organization will have to transform itself in the next few years. What is coming at us is bigger than the original internet, and you need to understand it, get on board with it, and figure out how to transform your business.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="">More details</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">2D, 3D and Branding.</h2>
                <p class="card-text">We've passed through the era of only visual perception to inventions of customer touchpoints</p>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="">More details</a></div>
        </div>
    </div>
</div>



