<div class="card text-white my-5 py-4 text-center">
    <div class="card body">
        <video width="320" height="240" controls style="align-content: center;">
            <source src="assets/AI video.mp4" type="video/mp4"/>
            <!-- Your browser does not support the video tag. -->
        </video>
    </div>
</div>

<!-- ------footer------ -->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Ceesco 2023</p></div>
</footer><br>
<!-- ------footer------ -->