<div class="header">
    <h1>SQL learning curve.</h1>
<div class="commands"></div>
<h4>SQL commands</h4> 
    <ul>Data definiton languages to = create, alter, drop or truncate.</ul>
     <ul>Data manipilation language(DML) to = select(DQL), update, delete or insert </ul>
    <ul>Data Control language - grant and revoke</ul>
   <ul>TCl- Commit and roll back</ul> 

<div class="Structure">
    <h4>Basic command structure</h4>
    <li>
        <ul>*selec(column1,...)</ul>
        <ul>from(table name)</ul>
        <ul>*Where(condtions)</ul>
        <ul>*group by()</ul>
        <ul>having(conditions of the group)</ul>
        <ul>order by(Ascending or Descending)</ul>
    </li>
    <div class="datatypes">
        <h4>Datatypes</h4>
        <li>
            <ul>Exact numeric</ul>
            <ul>Approximate Numeric</ul>
            <ul>Data and Time</ul>
            <ul>String datatype</ul>
            <ul>Binary Datatype</ul>
        </li>
    </div>
    <div class="Operators"></div>
<h4>operators</h4>
they include arithmetic,logical and comparison.
</div>
</div>