<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Booking Dates</h1>
        <div class="input-group date" id="checkInPicker">
            <input type="text" class="form-control" placeholder="Check-In Date">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="input-group date" id="checkOutPicker">
            <input type="text" class="form-control" placeholder="Check-Out Date">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <script src="calendar.js"></script>
    </div>
</body>
</html>


